<h2>users</h2>


<form action="/update_user/<%= @users.id %>">
  <input type="text" name="caption" placeholder="caption" value="<%= @users.caption %>">
  <input type="text" name="url" placeholder="url" value="<%= @users.url %>">
  <input type="text" name="name" placeholder="name" value="<%= @users.name %>">
  <input type="submit">
</form>