<h2>Users</h2>

<form action="/create_user">
  <input type="text" name="caption" placeholder="caption">
  <input type="text" name="url" placeholder="url">
  <input type="text" name="name" placeholder="name">
  <input type="submit">
</form>